name: Version Test

on:
#  push:
#    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Version Getter
#        if: github.ref == 'refs/heads/master'
#        uses: srt32/git-actions@v0.0.3
        working-directory: ${{ github.workspace }}
        run: |
          pwd
          cd ${GITHUB_WORKSPACE} || echo "not found"
          cd ${{ github.workspace }} || echo "github.worksapce not found"

          git fetch --all --tags
          git for-each-ref refs/tags/ --count=1 --sort=-version:refname --format='%(refname:short)' > VERSION
          git submodule update --init --recursive
          git submodule update --recursive --remote

          echo "in workspace $(pwd)"
          echo "files found--"
          ls -al
          echo "hack--"
          ls -al hack
          echo "shell-semver---"
          ls -al hack/shell-semver
          script=$(find . -iname increment*)
          echo $script
          ${script} -p $(cat VERSION) > VERSION

      - name: Archive Version
        uses: actions/upload-artifact@v1
        with:
          name: VERSION.txt
          path: VERSION