name: Go

on:
#  push:
#    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Version Getter
#        if: github.ref == 'refs/heads/master'
#        uses: srt32/git-actions@v0.0.3
        run: |
          cd ${GITHUB_WORKSPACE}
          git for-each-ref refs/tags/ --count=1 --sort=-version:refname --format='%(refname:short)' > VERSION
          ./hack/shell-semver/increment_version.sh -p $(cat VERSION) > VERSION
      - name: Archive Version
        uses: actions/upload-artifact@v1
        with:
          name: VERSION.txt
          path: VERSION